header {
    display: flex;
    justify-items: center;
    align-items: center;
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        font-weight: 700;
        border: 2px solid var(--color-border);
        border-radius: 1rem;

        .logo {
            display: flex;
            flex-wrap: nowrap;
            gap: .4rem;
            align-items: center;
            i {
                font-size: 1.2rem;
            }
            strong {
                font-size: 1.2rem;
            }

        }

        ul{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 1rem;

            a {
                &:hover{
                    color: var(--color-hover);
                    filter: drop-shadow(0 0 10px rgba(0, 255, 100, 0.8));
                }
            }

        }
    }
}